.header {
  background: #4a4e69;
  padding: 8px 24px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f2e9e4;

  .logout-container {
    display: flex;
    align-items: center;
    gap: 32px;

    .logout-btn {
      padding: 4px 8px;
      font-size: 12px;
      font-weight: 400;
      border: none;
      color: #4a4e69;
      background-color: #f2e9e4;
    }
  }
}
