.action-modal-section {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-container {
    background: #fff;
    border-radius: 5px;
    padding: 16px;
    min-width: 400px;
    max-width: 600px;

    .edit-container {
      > input {
        margin: 8px 0;
        width: 100%;
        padding: 2px 4px;
        box-sizing: border-box;
      }
    }

    .footer-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 16px;

      > button {
        background: #22223b;
        color: #f2e9e4;
        padding: 8px 32px;
      }

      .cancel {
        background: #f2e9e4;
        color: #22223b;
        border: 1px solid #22223b;
      }
    }
  }
}
